<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.josh.virtualmum">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CALENDAR" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GCAPIActivity"
            android:label = "Import Calendar"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SetUp4ProfileActivity"
            android:label="@string/title_activity_set_up4_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SetUpEventsActivity"
            android:label="Set up your events..."
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SetUpActivity"
            android:label="Please Enter The Following...">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JacksHomePageCode.TimetableActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".EditEventActivity"
            android:label="Edit/Delete This Event" />
        <activity
            android:name=".AddEventActivity"
            android:label="Enter your event details..."
            android:parentActivityName=".EventListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.josh.virtualmum.EventListActivity" />
        </activity> <!-- <activity android:name="com.example.josh.virtualmum.JacksHomePageCode.EditActivity"></activity> -->
        <activity
            android:name=".JacksHomePageCode.WeekTable"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".EventListActivity"
            android:label="Your Events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditTaskActivity"
            android:label="Edit/Delete This Task" />
        <activity
            android:name=".TaskListActivity"
            android:label="Your Tasks"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AddTaskActivity"
            android:label="Enter your task details..." />
        <activity
            android:name=".ProgressActivity"
            android:label="Progress"></activity>
    </application>

</manifest>